body
{
  padding-top: 50px;
}
.starter-template
{
  padding: 0px 15px;
  text-align: center;
}
h1
{
	margin: 0px;     
	color: #000;
	padding: 0px;
	font-size: 36px;
	font-family: "trebuchet ms", sans-serif;    
}

.navbar-inverse
{
	background-image: linear-gradient(to right, #222222, #1d232b, #222222) !important;
	border-color: none !important;
}

nav ul li
{
	display: inline-block;
    cursor: pointer;
    font-size: large;
}

